﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form method="post">
    姓氏 <input type="text" name="lastname" value="" />
    名字 <input type="text" name="firstname" value="" />
    <br />
    電子郵件 <input type="text" name="email" value="" />
    <br />
    密碼 <input type="password" name="password" value="" />
    <br />
    生日
    <select name="year">
        <option value="2017">2017</option>
        <option value="2016">2016</option>
    </select>年
    <select name="month">
        <option value="1">1月</option>
        <option value="2">2月</option>
    </select>月
    <select name="day">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>日

    <br />
    性別
    <input type="radio" name="sex" value="1"> 男生
    <input type="radio" name="sex" value="0"> 女生

    <br />
    <input type="submit" value="送出" />
</form>

@using (Html.BeginForm("About", "Home", FormMethod.Post))
{
    @Html.TextBox("username")
    <br />
    @Html.TextBox("email")
    <br />
    @Html.Password("pwd")
}
@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };

}
<ol>
    @foreach (var item in fruits)
    {
    <li>@item</li>
    }
    
</ol>

